<launch>
    <arg name="cam0_config" default="$(find fisheye_to_pinhole)/config/cam0_solo.yaml"/>
    <rosparam command="load" file="$(arg cam0_config)" ns="fisheye_to_pinhole/cam0"/>

    <node name="cam_0" pkg="fisheye_to_pinhole" type="fisheye_to_pinhole_solo" ns="fisheye_to_pinhole/cam0" output="screen"/>

</launch>